# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store

public
dist
.deploy_git
node_modules
ncp-debug.log
npm-debug.log
.idea
